<div>
    <h1>MY ITEM</h1>
    <p>{{item.item_name}}</p>
    <p>{{item.description}}</p>
    <p>{{item.price}}</p>
    <p>{{item.stock}}</p>

    <hr>
    <img src = {{item.item_img}} alt = {{item.item_name}} height = '150' width = '350'>
    <hr>
    <img src = {{item.item_QR}} alt = "{{item.name}} qr code"/>
</div>
<script src="/js/itemDetails.js"></script>
