<h2>Marketplace</h2>
    <hr>
    {{#each items as |item|}}
    <hr>
    <div>
        <h3 href="/item/{{item.id}}">{{item.item_name}}</h3>
        <p>{{item.description}}</p>
        <p>{{item.price}}</p>
        <p>{{item.stock}}</p>
        <p>{{item.category_id}}</p>
    </div>
    <hr>
    {{/each}}
</div>

